/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*Common*/
  
body {
    font-family: 'Oswald' , sans-serif;
    color: black;
}
a {
  color: inherit;
}
/* Header */
.header {
  color: #060D10;
  
}
.tagline{
  background-color: #66D1FF;
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.tagline a{ 
  font-size: 24px;
  line-height: 29px;
    text-decoration: none;

}
.tegline-text{
  font-size: 1px;
  opacity: 0;
}
.about{
 text-align: center;
 background-image: url('../images/mountain-bck.png');
 background-size: cover;
 background-position: center;
 color: #fff;

}
.about-title{
  font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 60px;
line-height: 89px;
text-shadow:1px 1px 2px #060D10;
    text-decoration: none;
    text-transform: uppercase;
}
.about-text{
  font-family: 'Montserrat', sans-serif;
font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
text-shadow:1px 1px 2px black;
}
.about-bg-fade{
  padding: 230px 0;
    background-color: rgba(6, 13, 16, 0.25)
    ;
  }
  /* features */
.features{
  background-color:rgba(102, 209, 255,10%) ;
  
}
.features-caption{

}
.features-items{

}
.features-item{

}
.features-subtitle{
  font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 32px;
text-transform: uppercase;


}
.features-text{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 26px;
line-height:36px;
opacity:80%;
}
.lead{
/*background: linear-gradient(52.6deg,rgba(102, 209, 255,1),rgba(196, 196, 196, 0));*/
text-align: center;
}
.lead-caption{
  font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 48px;
text-transform: uppercase;

}
.btn{
  font-family: 'Montserrat', sans-serif;
font-weight: 500;
  font-size: 36px;
  text-decoration: none;

}
.lead-list-img{

}
.lead-item{

}
.social-icon{

}

.social-link{
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../images/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social-text{
  font-size: 1px;
  opacity: 0;
}


/* Footer */
.footer{
  background-color:#060D10;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color:#fff;
}
.footer-text{
   
  font-size: 18px;
 
}
.footer-icon-text{
  font-size: 20px;
}